<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Sofy</title>
  <link rel="stylesheet" href="libs/swiper.min.css">
  <link href="css/main.min.css" rel="stylesheet" media="screen">
</head>

<body>
  <header class="header">
    <div class="container">
      <a href="/" class="logo">
        <img src="img/logo.png" alt="#">
      </a>
      <div class="header-wrap">
        <ul class="menu">
          <li class="has-children">
            <a href="#">Solution</a>
            <ul>
              <li><a href="#">Autonomous Software Testing for Mobile Applications</a></li>
              <li><a href="#">Autonomous Software Testing for Websites</a></li>
            </ul>
          </li>
          <li class="has-children">
            <a href="#">Features</a>
            <ul>
              <li><a href="#">Real Device Testing from Anywhere</a></li>
              <li><a href="#">Increase Your Test Automation</a></li>
            </ul>
          </li>
          <li>
            <a href="pricing.html">Pricing</a>
          </li>
          <li class="has-children">
            <a href="#">Resources</a>
            <ul>
              <li><a href="#">Real Device Testing from Anywhere</a></li>
              <li><a href="#">Increase Your Test Automation</a></li>
            </ul>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="#"> Sign in</a>
          </li>
        </ul>
        <div class="btn btn-white">Free Trial</div>
      </div>
      <div class="close">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>